{% extends "portfolio/base.html" %} {% load static %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'portfolio/blog.css' %}"
/>
<main class="blog-container">
  {% if blogs %}
  {% for blog in blogs %}
  <article class="blog-post">
    <h2>{{ blog.title }}</h2>
    <p class="date">{{ blog.date }}</p>
    <p>{{ blog.body }}</p>
    <a href="#" class="read-more">Read More</a>
  </article>
  {% endfor %}
  {% else %}
  <p>No blog posts for now.</p>
  {% endif %}
</main>
{% endblock %}
