{% extends "portfolio/base.html" %} {% load static %} {% block content %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'portfolio/projects.css' %}"
/>
<section class="section">
  <h2>Projects</h2>
  <p>Here are some of our projects.</p>
  <div class="portfolio">
    {% for project in projects %}
    <div class="projects">
      {% if project.image %}
      <img src="{{ project.image.url }}" alt="{{ project.title }}" />
      {% else %}
      <img src="{% static 'portfolio/images/default.jpg' %}" alt="{{ project.title }}" />
      {% endif %}
      <h4>{{ project.title }}</h4>
      <p>{{ project.summary }}</p>
    </div>
    {% endfor %}
  </div>
</section>
{% endblock %}

